# Goバイナリや実行ファイル
*.exe
*.out
*.test
*.prof
*.sql

# バイナリやアーカイブファイル
bin/
pkg/

# ローカル設定ファイル（特定のIDEやエディタに関連するもの）
.idea/
.vscode/

# ログファイル
*.log

# Goモジュールのキャッシュディレクトリ
/go.sum

# OSやエディタが生成する一時ファイル
.DS_Store
Thumbs.db